@use './variables' as *;

.footer {
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: $color-muted-foreground;
  border-top: 1px solid $color-muted;
  background-color: $color-card;
}
