@use './variables' as *;

.layout__main {
  padding: 1.5rem 1rem;
}

.layout__footer {
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: $color-muted-foreground;
}
