@use './variables' as *;

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $color-foreground;
    margin-bottom: 0.5em;
  }
  
  p {
    margin-bottom: 1rem;
    color: $color-muted-foreground;
  }
  
  a {
    color: $color-accent-primary;
    text-decoration: none;
    transition: color 0.2s ease;
  
    &:hover {
      color: lighten($color-accent-primary, 10%);
    }
  }
  