---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import SearchBar from '../components/SearchBar.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import CategoryPopular from '../components/CategoryPopular.astro';
import RecentPosts from '../components/RecentPosts.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const allPosts = await getCollection('blog');
const featuredPosts = allPosts
  .filter(post => post.data.category === 'Featured')
  .slice(0, 3);

---

<!doctype html>
<html lang="id" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<HeroSection />
			<SearchBar />
			<CategoryPopular />
			<FeaturedPosts posts={featuredPosts} />
			<RecentPosts />
		</main>
		<Footer />
	</body>
</html>
