---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<BaseLayout title="Bima Akbar">
<Hero />
<section id="recent-post" class="mx-auto px-6">
  <RecentPosts />
</section>
</BaseLayout>
