---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>
  <Header siteTitle="Bima Akbar" />
  <main>
    <h1>Selamat datang di blog Bima</h1>
  </main>
</BaseLayout>
