---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const post = (await getCollection('blog')).slice(0,3);

---

<!doctype html>
<html lang="id">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header isHomePage={true} />
		<main>
			<HeroSection />
<FeaturedPosts />
			
		</main>
		<Footer />
	</body>
</html>
