---
// src/components/Newsletter.astro
import NewsletterForm from './NewsletterForm.jsx';
---

<section class="container mx-auto px-4 mt-24">
  <div class="relative overflow-hidden rounded-2xl bg-zinc-800 p-8 sm:p-10 [animation:fade-in-up_0.8s_ease-out_forwards]">
    <div class="absolute -top-16 -right-16 w-72 h-72 bg-purple-500/50 rounded-full filter blur-3xl opacity-20"></div>
    <div class="absolute -bottom-16 -left-16 w-72 h-72 bg-blue-500/50 rounded-full filter blur-3xl opacity-20"></div>
    <NewsletterForm client:load />
  </div>
</section>