---
import '@/styles/global.css'
import AdminSidebar from '@/components/admin/AdminSidebar.tsx';
import AdminHeader from '@/components/admin/AdminHeader.astro';
import BaseHead from '@/components/BaseHead.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="id" class="sidebar-expanded">
  <head>
    <BaseHead title={`${title} | Dashboard`} description="Dashboard panel untuk situs." />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex h-screen overflow-hidden">
      <AdminSidebar client:load />
      <div class="admin-main flex-1 flex flex-col overflow-y-auto bg-zinc-900">
        <AdminHeader title={title} />
        <main class="flex-1 p-4">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
