---
// src/layouts/BaseLayout.astro
import "../styles/main.scss";
import BaseHead from "../components/BaseHead.astro";
---
<html lang="id">
    <BaseHead />
    <body>
        <slot />
    </body>
</html>
