---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';

const { title, description } = Astro.props;
---

<html lang="id">
  <BaseHead {title} {description} />

  <body>
    <Header siteTitle="Ambient Studio" />

    <main class="layout__main">
      <slot />
    </main>

    <footer class="layout__footer">
      &copy; {new Date().getFullYear()} — all ambience, no chaos
    </footer>
  </body>
</html>
