---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
import BaseHead from '../components/BaseHead.astro';
import Header from "../components/Header.astro";
import NewsletterForm from '../components/NewsletterForm.astro';
import Footer from "../components/Footer.astro";
import BackToTop from '../components/BackToTop.astro';

const { title: pageTitle } = Astro.props;

const blogData = Astro.locals.blogData;
const headerTitle = blogData?.name || "Bima Akbar";
---

<html lang="id">
  <BaseHead title={pageTitle} />
  <body class="min-h-screen">
    <noscript><iframe src={`https://www.googletagmanager.com/ns.html?id=${import.meta.env.VITE_GTM_ID}`} height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <Header title={headerTitle} />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 pt-16">
      <slot />
    </main>
    <NewsletterForm />
    <Footer />
    <BackToTop />
  </body>
</html>
